apiVersion: v1
kind: ConfigMap
metadata:
  name: lemp-config
  namespace: <%= namespace %>
data:
  nginx-default: |-
    server {
       listen  80;
       # this path MUST be exactly as docker-compose.fpm.volumes,
       # even if it doesn't exists in this dock.
       root /usr/share/nginx/html;
       index index.php index.html index.html;
       server_name <%= namespaceconfig['masterip'] %>;
       location / {
           try_files $uri $uri/index.html;
       }       
       location ~ \.php$ {
           fastcgi_split_path_info ^(.+\.php)(/.+)$;
           fastcgi_pass phpfpm:9000; 
           fastcgi_index index.php;
           fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
           include fastcgi_params;
       }
    }
  index.html: |- 
    <!DOCTYPE html>
    <html>
    <head>
    <title>k8s-lemp nginx</title>
    <style>
       body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        background: white;
       }
    </style>
    </head>
    <body>
      <h1>Welcome to LEMP-Stack in namespace <%= namespace %>!</h1>
      <?php phpinfo();?>
    </body>
    </html>
